.footer {
  margin-top: 50px;
  background: #ffbfd0;
  padding: 40px;
  margin-bottom: 0%;
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
}

.button_footer {
  box-sizing: border-box;
  width: 152px;
  height: 42px;
  border: 1px solid #000000;
  border-radius: 24px;
  background-color: #ffbfd0;
  margin-right: 15px;
  transition: border 0.2s ease;
  font-weight: bold;
}

.button_footer:hover {
  border: 2px solid #000000;
  color: #000000;
}

.joinbutton_footer {
  width: 152px;
  height: 42px;
  background-color: #000000;
  color: #ffbfd0;
  border: 1px solid #000000;
  border-radius: 24px;
  margin-right: 15px;
}

.button_holder {
  margin-top: 40px;
  margin-bottom: 40px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.line {
  border: none;
  border-top: 1px solid black;
  width: 95%;

  margin-top: 40px;
}

.Logo_bar img {
  margin-right: 10px;
}

.logobar_footer {
  display: flex;

  justify-content: center;
  align-items: center;
}

.logofooter_content {
  margin-top: 40px;
  border-left: 2px solid black;
  padding-left: 20px;
  width: 700px;
}

.Logo_footer {
  margin-top: 40px;
  margin-right: 20px;
  width: 200px;
  height: auto;
}

.Logo_bar {
  justify-content: center;
  display: flex;
}
