.hero {
  background-color: #ffbfd0;
  height: 530px;
  justify-content: center;
  margin-left: 5rem;
  margin-right: 5rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.Hero_img {
  width: 620px;
  height: auto;
}

.content {
  position: absolute;
  left: 0;
  margin-left: 140px;
  top: 380px;
  width: 300px;
}

.content p {
  text-justify: inter-word;
  text-align: justify;
}

.content2 {
  position: absolute;
  left: 0;
  margin-left: 930px;
  top: 450px;
  width: 300px;
}

.content2 p {
  text-justify: inter-word;
  text-align: justify;
}

.color {
  width: 50px;
  height: auto;
}
