.Header_text {
  font-family: "Reforma Grotesk Medium W08 Rg";
  font-size: 116px;
  line-height: 100px;
  font-weight: bolder;
}

.Join_img {
  width: 400px;
  height: auto;
}

.Join_section {
  display: flex;
  justify-content: space-between;
  margin-left: 5rem;
  margin-right: 5rem;
  margin-top: 80px;
  margin-bottom: 60px;
}

.text_box {
  width: 450px;
  text-justify: inter-word;
  text-align: justify;
}

.content_section {
  margin: 0%;
  padding: 0%;
}

.Join_btn {
  width: 160px;
  height: 50px;
  background: #000000;
  border-radius: 8px;
  border: none;
  color: #ffbfd0;
  font-size: 20px;
  font-weight: 500;
  margin-right: 10px;
  transition: background-color 0.8s ease;
}

.Join_btn:hover {
  background-color: #fe7a9d;
  color: #000000;
}

.Signin_btn {
  width: 160px;
  height: 50px;
  background: white;
  border-radius: 8px;
  color: #000000;
  font-size: 20px;
  font-weight: 500;
  box-sizing: border-box;
  border: 2px solid #000000;
  transition: border 0.1s ease;
}

.Signin_btn:hover {
  border: 4px solid #000000;
  color: #000000;
}

.Join_img {
  width: 700px;
  height: auto;

  border-radius: 26px;
}

.Card_header,
.Highlight {
  font-family: "Reforma Grotesk Medium W08 Rg";
  font-size: 85px;
  line-height: 100px;
  font-weight: bolder;
  text-align: center;
}

.Highlight {
  color: #fe7a9d;
}
