.card1 {
  flex: 1;
  height: 200px;
  background-color: #cdc0ff;
  border-radius: 5px;
  padding: 20px;
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;

  .card-icon {
    background-color: #12044d;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card-txt {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 10px;
    .card-txt-1 {
      font-size: 1.5rem;
      font-weight: bold;
      line-height: 2;
    }
    .card-txt-2 {
      font-size: 1.4rem;
      font-weight: bold;
      color: #425166;
      font-weight: 500;
    }
  }
}

.card2 {
  flex: 1;
  height: 200px;
  background-color: #ffdd9a;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding-top: 0;
  padding-bottom: 0;
  .card-icon {
    background-color: #ff947a;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card-txt {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 10px;
    .card-txt-1 {
      font-size: 1.5rem;
      font-weight: bold;
      line-height: 2;
    }
    .card-txt-2 {
      font-size: 1.4rem;
      font-weight: bold;
      color: #425166;
      font-weight: 500;
    }
  }
}

.card3 {
  flex: 1;
  height: 200px;
  background-color: #81ffac;
  border-radius: 5px;
  padding: 20px;
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  .card-icon {
    background-color: #3cd856;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card-txt {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 10px;
    .card-txt-1 {
      font-size: 1.5rem;
      font-weight: bold;
      line-height: 2;
    }
    .card-txt-2 {
      font-size: 1.4rem;
      font-weight: bold;
      color: #425166;
      font-weight: 500;
    }
  }
}

.card4 {
  flex: 1;
  height: 200px;
  background-color: #d2a9ff;
  border-radius: 5px;
  padding: 20px;
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  .card-icon {
    background-color: #bf83ff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card-txt {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 10px;
    .card-txt-1 {
      font-size: 1.5rem;
      font-weight: bold;
      line-height: 2;
    }
    .card-txt-2 {
      font-size: 1.4rem;
      font-weight: bold;
      color: #425166;
      font-weight: 500;
    }
  }
}
