.NextBtnProduct {
  width: 294px;
  height: 44px;
  background: #000000;
  border-radius: 8px;
  border: none;
  color: #ffbfd0;
  font-size: 17px;
  font-weight: 500;
  margin-right: 10px;
  cursor: pointer;

  margin-bottom: 10px;
}

.buttonHolderProduct {
  align-items: center;
  display: flex;
  justify-content: center;
}

.productpage {
  margin: 140px;
  margin-top: 43px;
  margin-bottom: 0px;
}

.Imageproduct02 {
  display: flex;
}

.producttextbox {
  width: 100%;
  min-height: 200px;
  font-size: 16px;
  padding: 20px;
  resize: none;
}

.Backformbtn {
  width: 294px;
  height: 44px;
  background: #ffffff;
  border-radius: 8px;
  border: 1px solid black;
  color: #000000;
  font-size: 17px;
  font-weight: 500;
  margin-right: 10px;
  cursor: pointer;
  margin-bottom: 10px;
}
