.dashboard-container{
    display: flex;
    position: relative;
    width: 100%;
    top: 85px;
    /* height: calc(100vh - 85px); */
    .left-flex{
        position: relative;
        display: flex;
        width: 250px;
        justify-content: center;
        align-items: center;
        height: calc(100vh - 85px);
        position: fixed;
    }
    .right-flex{
        display: flex;
        flex-direction: column;
        height: auto;
        width: calc(100vw - 250px);
        margin-left: 250px;
        .right-top-flex{
            display: flex;
            height: auto;
            margin-top: 60px;
            margin-left: 20px;
            margin-right: 20px;
            flex-direction: column;
            .rt-txt{
                display: flex;
                flex-direction: column;
                .rt-txt1{
                    font-size: 1.5rem;
                    font-weight: bold;
                }
                .rt-txt2{
                    font-size: 1.5rem;
                    color: #575757;
                }
            }
            .rt-card-container{
                display: flex;
                height: 250px;
                gap:20px;
                margin-top: 20px;
            }
        }
        .right-bottom-flex{
            display: flex;
            flex-direction: column;
            .tp-txt{
                font-size: 1.5rem;
                font-weight: bold;
                margin: 20px 0px 0px 20px;
            }
            .top-products{
                margin: 20px;
            }
            
        }
    }
}
