.active {
  background-color: red;
}
.sideNav {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.list-text {
  font-size: 1.2rem;
}

.link {
  display: flex;
  color: #4e4d4d;
  padding: 15px 35px;
  margin: 12px;
  gap: 15px;
  transition: all 0.5s;
  border-radius: 10px;
  align-items: center;
  justify-content: start;
  line-height: 0;
  font-size: 1.2rem;
  text-decoration: none;
}
.link:hover {
  background: rgb(216, 216, 216);
  color: #4e4d4d;
  transition: all 0.5s;
  /* transform: scale(1.02) */
}
.active {
  background: #ffbfd0;
  color: #000000;
}
