* {
  font-family: "Roboto", sans-serif;
}

.Logo {
  width: 150px;
}

.List {
  list-style: none;
  font-size: 20px;
  display: flex;
  gap: 77px;
  padding: 0%;
}

.List li {
  cursor: pointer;
  position: relative;
}
.CustomLink {
  text-decoration: none;
  color: #000000;
}

.List li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: transparent;
  transition: background-color 0.5s ease;
}

.List li:hover::after,
.List li.stuck::after {
  background-color: #fe7a9d;
}

.Join_button {
  color: white;
  font-weight: bold;
  width: 120px;
  height: 45px;
  background: #000000;
  border-radius: 6px;
  border: none;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.8s ease;
}

.Join_button:hover {
  background-color: #fe7a9d;
  color: #000000;
}

nav {
  margin: 20px 40px 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1138px;
  width: 100%;
  margin: 10px auto;
}

.Nevigation_bar {
  justify-content: center;
}
